﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Lockout.aspx.cs" Inherits="WingtipToys.Account.Lockout" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <hgroup>
        <h1>Bloccato.</h1>
        <h2 class="text-danger">Questo account è stato bloccato, riprovare più tardi.</h2>
    </hgroup>
</asp:Content>
